
@model TiendaLibros.Models.LibroDto

<div class="container pt-5" style="font-size:25px;font-family:Verdana, Geneva, Tahoma, sans-serif">
    <div class="row">
        <div class="col-6  border-1">
            <div class="row pb-2">
                <div class="col-12">
                    <h2><p>@ViewBag.Titulo</p></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <span style="font-size:20px">Autores</span>
                        <span style="font-size:15px">@Model.Autor</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <span style="font-size:20px">Género</span>
                        <span style="font-size:15px">@Model.Detalles.Genero</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <span style="font-size:20px">Resumen</span>
                        <span style="font-size:15px">@Model.Detalles.Resumen</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><span style="font-size:15px">@Model.Detalles.FechaPublicacion</span></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <img src="~/img/@Model.PortadaLink" style=" width: 350px;  height: 550px" class="" alt="image detail" />
            </div>
        </div>
    </div>
</div>